::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #525151;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}